@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-24rem * 3));
  }
}

.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider .slide-track {
  animation: scroll 15s linear infinite;
  width: calc(20rem * 6);
}
.accordion-header.active svg {
  transform: rotateX(180deg);
  transition-duration: 300ms;
}
